<div class="container">
    <div class="row mt-5">
        <h1>Rólunk</h1>
        <div class="col mt-4">
            <p>A Japán Szemle Gerencsér Gábor kezdeményezése. A projekt megvalósításában és életben tartásában
                Kőszegi Mátyás és Kőszegi Sámuel is aktívan részt vesznek, ezen három személy az oldal szerkesztői. A
                honlap célja az, hogy a japán irodalmat magyar nyelven, mindenki számára ingyen elérhető formában
                népszerűsítse. Ehhez szükség van azonban lelkes fordítókra, akik szövegeik beküldésével hozzájárulnak
                ahhoz, hogy egyre több művel bővüljön az oldal. Fordító bárki lehet, a fordításokat a honlap megfelelő
                űrlapjának kitöltésével vagy e-mailben (japanszemle@gmail.com) lehet beküldeni. A szöveget innentől a
                lektorok átnézik, adott esetben javaslataikkal és javításokkal kapcsolatban e-mailben megkeresik a
                fordítót. A beérkezett fordítás csak ezután kerül publikálásra.</p>
            <br>
            <p>Lektor is bárki lehet, aki úgy érzi, hogy szívesen részt venne tartósan ebben a projektben és megfelelő
                tapasztalattal rendelkezik. Természetesen a szerkesztők és a lektorok is fordíthatnak. </p>
            <br>
            <p>Az oldalon egyelőre csak kevés kategória szerepel az irodalmi műfajokat illetően. A jövőben ezeket is
                szeretnénk bővíteni.</p>
        
            <br>
            <p>Fontos tudni, hogy az oldal semmilyen juttatást nem ad, a szerkesztők, lektorok és fordítók önkéntesen
                vesznek részt, a fordítások pedig a Creative Commons BY-NC 4.0 szerződése alá esnek. Erről többet a jogi
                részek alatt lehet megtudni. A fordítók és lektorok nevét az adott szövegekkel együtt hozzuk
                nyilvánosságra.</p>
            <br>
            <p>Mindenkinek előre is köszönjük, aki részt vesz ebben a számunkra nagyon fontos projekt megvalósításában
                és a szövegek bővítésében.</p>
            <br>
            <p>Tisztelettel:</p>
            <p>A szerkesztők</p>

        </div>
    </div>
</div>