<div class="container">
    <div class="row mt-5">
        <h1>Támogatás</h1>
        <div class="col mt-4">

            <p>
                Az oldal fenntartása pénzbe kerül, melyet a szerkesztők átvállalnak. Kifejezetten örülünk azonban, ha
                valaki támogatni szeretné a Japán Szemlét. A befolyt összegeket transzparensen kezeljük és 100
                százalékban a honlap üzemeltetésére fordítjuk. Kérjük, hogy a támogatás során jelölje meg, hogy az
                összeget a Japán Szemle számára küldi.
            </p>

            <p>
                <br>
                Támogatni az alábbi elérhetőségeken lehet:
                <br>
                Paypal:
                <br>
                <a href="https://paypal.me/matyaskoszegi " target="_blank">https://paypal.me/matyaskoszegi </a>
            </p>

            <p>
                <br>
                <b>Banki átutalással:</b> 
                <br>
                Számlatulajdonos: Mátyás Kőszegi
                <br>
                Bankszámlaszám: 12600016-16588597-54446930
                <br>
                A Wise címe: Avenue Louise 54, Room S52
                <br>
                Brussels
                <br>
                1050
                <br>
                Belgium
                <br>
            </p>

            <h4>Előre is köszönjük támogatását!</h4>

        </div>
    </div>
</div>