<div class="container">
    <div class="row mt-5">
        <h1>Creative Commons</h1>
        <div class="col mt-4">
            
            <p>
                A fetöltési feltételekkel elfogadom, hogy a fordításomért semmilyen anyagi juttatás nem jár. A fordítás
                Creative Commons CC BY-NC 4.0 szerzői jogi szerződése alá esik. Ez azt jelenti, hogy bárki szabadon
                letöltheti és felhasználhatja, illetve megoszthatja a fordítást, azonban köteles megnevezni a szerzőt és
                a forrást (Japán szemle). Tilos ugyanakkor a fordítással más platformon vagy bármilyen formában pénzt
                keresni, a cél ugyanis az, hogy a fordítás mindenki számára szabadon elérhető és osztható legyen.
                CC BY-NC 4.0
            </p>

            <a href="https://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1" target="_blank">Közvetlen link az
                angol szerződéshez:</a>

        </div>
    </div>
</div>