<div class="container">
    <div class="row mt-5">
        <h1>Szerzői jogokról</h1>
        <div class="col mt-4">
            
            <p>  
            Az eredeti mű szerzőjének jogairól:
            Irodalmi és más szerzői jogi védelem alatt álló eredeti művek japán szerzőinek jogait a Berni Egyezmény értelmében, a viszonosság elvét is figyelembe véve, a magyar szerzői jog védi.
            Ezért a Japán Szemlére csak az eredeti mű szerzőjének (vagy jogörököseinek) engedélye alapján teszünk fel fordítást. A japán szerzői jog szerint ez a szerzői jogi védelem a japán szerző élete alatt és a halálától számított következő időtartamig áll fent.
            <br>
            • Az 1968-ban vagy azután elhunyt szerzők  esetében a szerző halála után hetven évig (tehát pl. az 1970-ben elhunyt  Misima Jukio művei fordításához 2040-ig szükséges jogörököseinek engedélye).
            • Az 1967-ben vagy azelőtt elhunyt szerzők esetében (a 2018 előtt érvényes japán szerzői jogi törvény alapján) csak a halál után ötven évig tart a védelem, ami azt jelenti, hogy az e csoportba tartozó japán szerzők művei ma már közkincsnek tekinthetők, azaz, fordításukhoz nem szükséges a jogörökösök engedélye. Mindemellett e régi szerzőket is tiszteljük azzal, hogy alkotóként mindenképp megnevezzük őket, és nem plagizáljuk. 
            <br>
            A fordítás szerzői jogairól:
            <br>
            A fetöltési feltételekkel a fordítók, a lektorok, és a Japán Szemle szerkesztői elfogadják, hogy a Japán Szemle honlapján megjelenő fordításért nekik semmilyen anyagi juttatás nem jár. 
            A fordítás Creative Commons CC BY-NC 4.0 szerzői jogi szerződése alá esik. Ez azt jelenti, hogy bárki szabadon letöltheti és felhasználhatja, illetve megoszthatja a fordítást, azonban köteles megnevezni a szerzőt, a fordítót és a forrást (Japán Szemle). Tilos ugyanakkor a fordítással más platformon vagy bármilyen formában pénzt keresni, a cél ugyanis az, hogy a fordítás mindenki számára szabadon elérhető és osztható legyen. CC BY-NC 4.0
            <br>
            Közvetlen link az angol szerződéshez:
            <br>
            Lap-és könyvkiadóknak: 
            A fentieket kiegészítendő, a fordítók, lektorok, szerkesztők hozzájárulnak ahhoz, ha egy kiadó hagyományos - azaz papír - könyv vagy újság formájában szeretné kiadni és akár profitalapon terjeszteni a Japán Szemlében megjelent fordítást.  Anyagi juttatásra a fordításért itt sem tartunk igényt, azzal a feltétellel, hogy a szerző, a fordító, és a forrás (Japán Szemle) legyenek megnevezve, továbbá, hogy az eredeti mű szerzőjével vagy jogörökösével a szükséges engedélyeket és esetleges jogvitákat a kiadó maga rendezi. 
            <br>
            Online profitalapú lapokban is szívesen látunk cikkeket, véleményeket a Japán Szemlében megjelent fordításról,  kérjük viszont, hogy maga a fordítás a Japán Szemle lapjára linkelt formában legyen megosztva.  

            </p>

            <a href="https://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1" target="_blank">Közvetlen link az
                angol szerződéshez:</a>

        </div>
    </div>
</div>