<div class="container mt-5">
    <h1>Szerkesztőink</h1>
    <div class="row">
        <h2>Gábor</h2>
        <div class="col-12 col-md-2">
            <img class="img-fluid" src="../../../../assets/img/gabor.jpg" alt="Dóra">
        </div>

        <div class="col-12 col-md-10">
            <p>
                Gerencsér Gábor ötlete alapján indult a honlap. Gábor szívesen olvas és fordít prózát, de minden más irodalmi műfaj is érdekli.
            </p>
        </div>
        <hr>
        <h2>Mátyás</h2>
        <div class="col-12 col-md-2">
            <img class="img-fluid" src="../../../../assets/img/matyas.jpg" alt="Ádám">
        </div>

        <div class="col-12 col-md-10">
            <p>
                Kőszegi Mátyás leginkább a lírai fordításokért és az oldal karbantartásáért felelős.
            </p>
        </div>
        <hr>
        <h2>Sámuel</h2>
        <div class="col-12 col-md-2">
            <img class="img-fluid" src="../../../../assets/img/toci.jpg" alt="Eszter">
        </div>

        <div class="col-12 col-md-10">
            <p>
                Kőszegi Sámuel alkotta meg a honlapot, neki köszönhető tehát a technikai megvalósulás.
            </p>
        </div>
    </div>
</div>