<div class="container mt-5">
    <h1>Szerkesztőink</h1>
    <div class="row">
        <h2>Dóra</h2>
        <div class="col-12 col-md-2">
            <img class="img-fluid" src="../../../../assets/img/dóra.jpg" alt="Dóra">
        </div>

        <div class="col-12 col-md-10">
            <p>
                Dóra a magyar-japán fordítások szenvedélyese. Az egyetemi tanulmányai során folyamatosan bővítette
                nyelvtudását, és a diploma megszerzése után rögtön megkezdte karrierjét a fordítás területén. Az évek
                során számos japán regényt fordított magyarra, és különösen az irodalmi művek fordításaiban mutatkozik
                meg a fordítói képességeinek a teljessége. Most pedig örömmel csatlakozott a honlapunk szerkesztői
                csapatához, ahol a magyar-japán fordításokat közvetíti a magyar nyelvű olvasók számára.
            </p>
        </div>
        <hr>
        <h2>Ádám</h2>
        <div class="col-12 col-md-2">
            <img class="img-fluid" src="../../../../assets/img/adam.jpg" alt="Ádám">
        </div>

        <div class="col-12 col-md-10">
            <p>
                Ádám a japán kultúra és irodalom rajongója. Már fiatal korában megfogta a japán kultúra varázsa, és
                azóta is folyamatosan bővíti tudását ezen a területen. Az egyetemi tanulmányait a japán nyelv és
                irodalom szakon végezte, és a diploma megszerzése után azonnal megkezdte fordítói pályafutását. Számos
                japán regényt fordított magyarra, és ezek a fordítások bizonyítják Ádám szenvedélyét és tudását a japán
                kultúrával kapcsolatban. Most pedig örömmel csatlakozott a honlapunk szerkesztői csapatához, ahol a
                japán irodalmi műveket hozza közelebb a magyar nyelvű olvasókhoz.
            </p>
        </div>
        <hr>
        <h2>Eszter</h2>
        <div class="col-12 col-md-2">
            <img class="img-fluid" src="../../../../assets/img/eszter.jpg" alt="Eszter">
        </div>

        <div class="col-12 col-md-10">
            <p>
                Eszter több éves tapasztalattal rendelkezik a fordítás területén, és ez a tapasztalat megalapozta a
                szerkesztői képességeit is. Az évek során számos japán regény szerkesztőjeként dolgozott, és ez a
                tapasztalat biztosította számára a szükséges tudást a fordítások minőségének javításához. Most pedig
                örömmel vállalta a honlapunk szerkesztői csapatának vezetői posztját, ahol a szerkesztői csapat
                munkájának irányítása mellett továbbra is aktív fordítóként is dolgozik. Eszter tehát egyike a
                legtapasztaltabb és leghivatottabb szerkesztőinknek, akiknek köszönhetően a honlapunk folyamatosan bővül
                és fejlődik a magyar-japán fordítások terén.
            </p>
        </div>
    </div>
</div>