<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <form>
                <h2>Bejelentkezés</h2>
                <label>Felhasználónév: <input type="text" [(ngModel)]="username" name="username"></label>
                <label>Jelszó: <input type="password" [(ngModel)]="password" name="password"></label>
                <button (click)="login()">Belépés</button>
            </form>
            
            <div class="login-success" *ngIf="auth.loggedIn">
                Sikeres bejelentkezés, már hozzáférhetsz az admin funkciókhoz
            </div>
        </div>
        
    </div>
</div>

