<div class="container">
    <div class="row mt-5">
        <h1>Adatvédelmi nyilatkozat</h1>
        <div class="col mt-4">

            <p>
                A weboldalunk által gyűjtött adatok kezelése és védelme fontos számunkra. Az alábbi adatvédelmi
                nyilatkozatban részletesen ismertetjük, hogy milyen adatokat gyűjtünk és hogyan használjuk azokat.
                <br><br>
                <i>Adatgyűjtés:</i>
                <br>
                Személyes adatoként csak az Ön által megadott nevet és e-mail címet tároljuk. Az e-maileket kizárólag kommunikáció céljából használjuk, és az Ön hozzájárulása nélkül nem adjuk át harmadik félnek. 
                A Japán Szemle weboldala nem gyűjt sütiket, vagy ha igen, akkor kizárólag alapműködéshez szükségeseket. Ezen sütik biztosítják a weboldal megfelelő működését, megkönnyítik annak használatát, és látogatóink azonosítása nélkül gyűjthetnek információt a használatáról. Ide tartozhat például a bejelentkezési módok és adatok megjegyzése, és a csökkentett funkcionalitású Google Analytics kód is. Sajnos, ezen sütik alkalmazása nélkül nem mindig tudjuk garantálni weboldalunk kényelmes használatát.
                <br><br>
                <i>Adattárolás:</i>
                <br>
                Az általunk tárolt adatokat biztonságosan őrizzük, és csak a weboldalunk működtetéséhez szükséges
                célokra használjuk. Az adatokat az Európai Unión belül és Japánban kezeljük.
                <br><br>
                <i>Adatmegosztás:</i>
                <br>
                Az általunk tárolt adatokat harmadik félnek nem adjuk át, kivéve a jogi előírások által előírt
                esetekben.
                <br><br>
                <i>Változtatások:</i>
                <br>
                Az adatvédelmi nyilatkozatot időről időre frissíthetjük, hogy megfeleljen a változó jogszabályi
                követelményeknek. Az adatvédelmi nyilatkozat változtatásait a weboldalunkon tesszük közzé.
                <br><br>
                <i> Kérdések:</i>
                <br>
                Ha bármilyen kérdése van az adatvédelmi nyilatkozattal kapcsolatban, kérjük, lépjen kapcsolatba velünk a <a href="mailto:japanszemle@gmail.com">japanszemle@gmail.com</a>  email címen.
            </p>

        </div>
    </div>
</div>