<div class="container">
    <div class="row mt-5">
        <h1>Adatvédelmi nyilatkozat</h1>
        <div class="col mt-4">

            <p>
                A weboldalunk által gyűjtött adatok kezelése és védelme fontos számunkra. Az alábbi adatvédelmi
                nyilatkozatban részletesen ismertetjük, hogy milyen adatokat gyűjtünk és hogyan használjuk azokat.
                <br><br>
                <i>Adatgyűjtés:</i>
                <br>
                Nem gyűjtünk személyes adatokat, csak az Ön által megadott neveket tároljuk. Az e-maileket kizárólag
                kommunikáció céljából használjuk, és nem adjuk át harmadik félnek.
                <br><br>
                <i>Adattárolás:</i>
                <br>
                Az általunk tárolt adatokat biztonságosan őrizzük, és csak a weboldalunk működtetéséhez szükséges
                célokra használjuk.
                <br><br>
                <i>Adatmegosztás:</i>
                <br>
                Az általunk tárolt adatokat harmadik félnek nem adjuk át, kivéve a jogi előírások által előírt
                esetekben.
                <br><br>
                <i>Változtatások:</i>
                <br>
                Az adatvédelmi nyilatkozatot időről időre frissíthetjük, hogy megfeleljen a változó jogszabályi
                követelményeknek. Az adatvédelmi nyilatkozat változtatásait a weboldalunkon tesszük közzé.
                <br><br>
                <i> Kérdések:</i>
                <br>
                Ha bármilyen kérdése van az adatvédelmi nyilatkozattal kapcsolatban, kérjük, lépjen kapcsolatba velünk a <a href="mailto:japanszemle@gmail.com">japanszemle@gmail.com</a>  email címen.
            </p>

        </div>
    </div>
</div>